@media (min-width: 992px) {


    body {
        font-family: "Times New Roman", Times, serif;
    }

    /* start css navbar */

    .bg-nav {
        background: rgba(0, 0, 0, 0.6);
    }

    p,
    .navbar-nav .nav-item a {
        color: white !important;
    }

    .navbar .container .box-title-desa {
        margin: 0px 10px;
    }

    .navbar .container .desa-1 {
        font-size: 25px;
        font-weight: 500;
    }

    .navbar .container .desa-2 {
        font-size: 17.6px;
        font-weight: 350;
    }

    .navbar .container .desa-3 {
        font-size: 15.8px;
        font-weight: 350;
    }

    .navbar .container .nav-item {
        margin: 0px 19px;
        font-size: 17px;
    }

    /* end css navbar */

    /* start css carousel */

    .carousel .carousel-item {
        height: 670px;
    }

    .carousel .carousel-inner .carousel-item img {
        /* background-size: cover;
        width: 500px;
        height: 900px; */
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 400px;
        height: 800px;
    }

    .carousel .carousel-inner .carousel-item img {
        animation: zoom-in 30s ease infinite;
    }

    @keyframes zoom-in {
        0% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(1.5, 1.5);
        }
    }

    /* end css carousel */

    /* start css btn-menu */

    .bg-flex {
        background-color: #fff8cc;
    }

    .d-flex .btn-menu {
        border: 3px solid #f2de5c;
        padding: 0px 56.5px;
        transition: 0.5s ease;
    }

    .d-flex .btn-menu .btn-icon {
        transition: 0.3s ease;
    }

    .d-flex .btn-menu .btn-icon:hover {
        color: #f2de5c;
    }

    .d-flex .btn-menu:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .d-flex .btn-menu .btn-text p {
        color: black !important;
        font-weight: bold;
    }

    .d-flex .btn-menu .btn-icon {
        margin: 40px 0px;
    }

    .d-flex .btn-menu .btn-icon i {
        transition: 0.3s ease;
    }

    .d-flex .btn-menu .btn-icon i:hover {
        font-size: 70px;
    }

    /* end css btn-menu */

    /* start css box-head-profil */

    .box-head-profil .container .row .col-sm-6 h1 {
        font-weight: bold;
        font-size: 100px;
        text-align: left;
    }

    .box-head-profil .container .row .col-sm-6 p {
        font-size: 23px;
    }

    .box-head-profil .container .row .col-sm-6 h3 {
        font-family: 'Parisienne', cursive;
        font-weight: 900;
        font-size: 50px;
        margin-top: 50px;
    }

    .box-head-profil .container .row .col-sm-6 h4 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .box-head-profil .container .row .col-sm-6 a {
        font-family: 'Roboto', sans-serif;
        background-color: #fc6a6a;
        padding: 20px 40px;
        text-decoration: none;
        color: white;
        font-weight: 900;
        transition: 0.3s ease;
    }

    .box-head-profil .container .row .col-sm-6 a:hover {
        background-color: #b50404;
    }

    /* start css box-head-profil */

    /* start css statistik */
    .jumbotron-statistik {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("/img/desajatituju.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 30px;
        box-shadow: 0px 20px 20px grey;
    }

    .wave-container {
        /* background-image: url("/img/desajatituju.jpg"); */

        /* height: 900px; */
        margin-top: 30px;
        /* opacity: 0.70; */
        /* background-color: black !important; */
        /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    }

    .wave-container h1 {
        font-family: 'Parisienne', cursive;
        font-weight: bolder;
        color: #faee02;
        opacity: 0.7;
        font-size: 80px;
        margin-top: 40px;
    }

    .wave-container .d-flex {
        margin-top: 50px;
    }

    .wave-container .d-flex .icon {
        margin: 40px 70px;
        color: white;
    }

    .wave-container .d-flex .icon p {
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        margin-top: 20px;
        color: white !important;
        font-weight: bolder;
    }

    .wave-container .d-flex .btn-statistik {
        margin: 0px 30px;
        padding: 20px;
        border-radius: 40px;
        border-style: solid;
        border-color: white;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .wave-container .d-flex .btn-statistik:hover {
        background-color: red;
    }

    .wave-container .d-flex .btn-statistik a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }

    /* end css statistik */

    /* start css stok */

    .jumbotron-sotk {
        font-family: 'Roboto', sans-serif;
        padding: 2rem 1rem;
        margin-bottom: 2rem;
    }

    .jumbotron-sotk .container .header {
        margin-top: 30px;
    }

    .jumbotron-sotk .container .header h1 {
        font-weight: 900;
    }

    .jumbotron-sotk .container .header p {
        font-weight: 400;
    }

    .jumbotron-sotk .container .header hr {
        padding: 3px 0px;
        width: 30px;
        margin: auto;
        background-color: red !important;

    }

    .jumbotron-sotk .container .d-flex {
        margin-top: 30px;
    }

    .jumbotron-sotk .container .d-flex .group-profile {
        background-color: black;
        padding: 13px;
        box-shadow: 0px 0px 20px gray;
        margin: 0px 30px;
    }

    .jumbotron-sotk .container .d-flex .group-profile img {
        width: 150px;
        height: 180px;
    }

    .jumbotron-sotk .container .box-detail {
        background-color: #595959;
        padding: 10px 0px;
    }

    .jumbotron-sotk .container .box-detail {
        text-align: center;
        margin-top: 30px;
    }

    .jumbotron-sotk .container .box-detail a {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: white;
        font-weight: bolder;
        font-size: 20px;
    }

    /* .d-flex{
        background-color: ;
    }

    .d-flex .space {
        padding: 50px 75.3px;
        color: #076187;
    }

    .d-flex button {
        border: 1px solid #c1d600;
    }

    .d-flex button p {
        color: #076187 !important;
        font-weight: bold;
        font-size: 16px;
    } */

    /* .d-flex button .space p {
        color: #0256cc !important;
    } */

    /* .box-btn button {
        padding: 70px;
    } */

    /* img {
        width: 300px;
    } */
}

@media (max-width: 576px) {
    .bg-nav {
        background: rgba(0, 0, 0, 0.6);
    }

    p,
    .navbar-nav .nav-item a {
        color: white !important;
    }

    .navbar .container .navbar-toggler {
        border-color: rgb(247, 247, 247);
    }


    .navbar .container .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,247,247)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}