@media (min-width: 992px) {
    .bg-nav {
        background: rgba(0, 0, 0, 0.6);
    }

    p,
    .navbar-nav .nav-item a {
        color: white !important;
    }

    .navbar .container .box-title-desa {
        margin: 0px 40px;
    }

    .navbar .container .desa-1 {
        font-size: 25px;
        font-weight: 500;
    }

    .navbar .container .desa-2 {
        font-size: 17.6px;
        font-weight: 350;
    }

    .navbar .container .desa-3 {
        font-size: 15.8px;
        font-weight: 350;
    }

    .navbar .container .nav-item {
        margin: 0px 19px;
        font-size: 17px;
    }

    .bg-jumbotron {
        background-image: url('../img/desajatituju.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 800px !important;
    }
}

@media (max-width: 576px) {
    .bg-nav {
        background: rgba(0, 0, 0, 0.6);
    }

    p,
    .navbar-nav .nav-item a {
        color: white !important;
    }

    .navbar .container .navbar-toggler {
        border-color: rgb(247, 247, 247);
    }


    .navbar .container .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,247,247)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}